# Google OAuth credentials
GOOGLE_ID=691564599482-9sgrhm8ef24b1jnoh1cjumdk9adolhch.apps.googleusercontent.com
GOOGLE_SECRET=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

# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017

# NextAuth secret
NEXTAUTH_SECRET=your_nextauth_secret_here

# Base URL for the application
BASE_URL=http://localhost:3000

# Google API Key
NEXT_PUBLIC_API_KEY=your_google_api_key_here